{% extends 'base.html.twig' %}

{% block title %}{{ message.sujet }}{% endblock %}

{% block body %}

	{# affichage des éventuels messages flash #}
	{% for message in app.flashes('success') %}
		<div class="alert alert-success">
			{{ message }}
		</div>
	{% endfor %}

	<div>
		<h3>{{message.sujet}}</h3>
		<p>{{message.contenu}}</p>
		<p>envoyé par {{message.nom}} ({{ message.email }}), le {{message.dateenvoi|date('d/mY')}}</p>
	</div>

{% endblock %}