<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="{{ asset('css/bootstrap.min.css') }}">
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
		<nav class="navbar navbar-expand-lg navbar-light bg-info">
		  <a class="navbar-brand" href="#">Navbar</a>
		  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		    <span class="navbar-toggler-icon"></span>
		  </button>

		  <div class="collapse navbar-collapse" id="navbarSupportedContent">
		    <ul class="navbar-nav mr-auto">
		      <li class="nav-item active">
		        <a class="nav-link" href="{{ path('home') }}">Home</a>
		      </li>
		      <li class="nav-item">
		        <a class="nav-link" href="{{ path('addArticle') }}">Ajouter un article</a>
		      </li>		      
		      <li class="nav-item">
		        <a class="nav-link" href="{{ path('articles') }}">Liste des articles</a>
		      </li>
		      <li class="nav-item">
		        <a class="nav-link" href="{{ path('bonjourNom', {nom: 'emilie'}) }}">BonjourNom</a>
		      </li>
		      <li class="nav-item">
		        <a class="nav-link" href="{{ path('cava') }}">Comment-allez-vous ?</a>
		      </li>
		      <li class="nav-item">
		        <a class="nav-link" href="{{ path('heure') }}">Heure</a>
		      </li>
		      <li class="nav-item">
		        <a class="nav-link" href="{{ path('exo3', {age: 33, pseudo: 'emilie'}) }}">Exo3</a>
		      </li>
		    </ul>
		  </div>
		</nav>
		
        {% block body %}{% endblock %}
		
		{% block javascripts %}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="{{ asset('js/bootstrap.min.js') }}"></script>
		{% endblock %}

    </body>
</html>
