{% extends 'base.html.twig' %}

{% block title %}Quelle heure est-il ?{% endblock %}

{% block body %}
	
<h2>Quelle heure est-il ?</h2>

{# affichage de la vue qui contient le code bonjour ca va ? #}
{# si mon template a besoin d'une variable, je la passe ne paramètre d'include #}
{{ include('inc/bonjour.html.twig', {pseudo:'Emilie'}) }}

<p>Nous sommes le {{date}}, il est {{heure}}</p>

<!-- path() permet de générer dynamiquement le bon lien -->
{# <a href="{{ path('bonjour') }}">bonjour</a> #}
<!-- on veut passer des paramètres à notre route -->
{# <a href="{{ path('bonjourNom', {nom: 'tata'}) }}">bonjour2</a> #}

{% endblock %}