<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>

	<a href="{{ path('home') }}">Home</a>
	<a href="{{ path('bonjour') }}">Lien vers la page bonjour</a>
	<a href="{{ path('bonjourNom', {nom: 'emilie'}) }}">Lien vers la page bonjourNom</a>
	<a href="{{ path('cava') }}">Lien vers la page cava ?</a>
	<a href="{{ path('heure') }}">Lien vers la page heure</a>
	<a href="{{ path('exo3', {age: 33, pseudo: 'emilie'}) }}">Lien vers la page exo3</a>

	<h1>Page d'accueil</h1>
	<p>Ceci est la page d'accueil du site</p>
	
	{# commentaires twig #}

	{# pour afficher ue variable : #}
	{#
	{{ mavariable }}
	#}

	{# boucle #}
	{#
	{% for article in articles %}

	{% endfor %}
	#}

	{# condition #}
	{#
	{% if mavariable == 'toto' %}

	{% endif %}
	#}

	<p>Bonjour {{nom}}</p>



</body>
</html>