{% extends 'base.html.twig' %}

{% block title %}Article {{ article.id }}{% endblock %}

{% block body %}

	{# affichage des éventuels messages flash #}
	{% for message in app.flashes('success') %}
		<div class="alert alert-success">
			{{ message }}
		</div>
	{% endfor %}
	
	<article>
		<h3>{{ article.title }}</h3>
		publié le {{ article.datepubli|date('d/m/Y') }}
		par <a href="{{ path('showUser', { id : article.user.id }) }}">{{ article.user.username }}</a>
		<p>dans la catégorie <a href="{{ path('showCategorie', {id : article.categorie.id }) }}">{{ article.categorie.libelle }}</a></p>
		<p>{{ article.content }}</p>
	</article>
{% endblock %}